.password-container {
  width: 98%;
  height: 62vh;
  box-sizing: border-box;
  background-color: #1c221c;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.9);
}
.password-inputs {
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.inputs-prof {
  padding-bottom: 0.5rem;
}
